*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary{

    height:64px;
    border-radius: 5px;
    background-color: orangered;
    color: antiquewhite;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 18px 35px;

}
.header{

    background-color: powderblue;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
font-weight: 800;
font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary {

color: orangered;
}
/* banner style */
.banner{
    display: flex;
    margin: 0 200px;
}
.banner-title{

font-weight: 700;
font-size: 85px;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description {
    color:gray;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
    

/* about section style */
.about{
margin-top: 130px;
background-color: #fff8f3;
border-radius: 10px;
padding: 1310px,150px;
text-align: center;

}
.section-title{
    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;


}
.section-description{
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;


}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
}
.info-fescription{

    font-weight: 700;
    font-size: 20px;
    color: #474747 ;
}




