*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary{

    height:64px;
    border-radius: 5px;
    background-color: orangered;
    color: antiquewhite;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 18px 35px;

}
.header{

    background-color: powderblue;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
font-weight: 800;
font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary {

color: orangered;
}
/* banner style */
.banner{
    display: flex;
    margin: 0 200px;
}
.banner-title{

font-weight: 700;
font-size: 85px;
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description {
    color:gray;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
    

/* about section style */
.about{
margin-top: 130px;
background-color: #fff8f3;
border-radius: 10px;
padding: 1310px,150px;
text-align: center;

}
.section-title{
    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;


}
.section-description{
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;


}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
}
.info-fescription{

    font-weight: 700;
    font-size: 20px;
    color: #474747 ;
}
/* what i do */

section{
    margin-top: 130px;
    

}
.skills-container{

    display: flex;
    gap: 24px;
}
.skill{
background: aliceblue;
box-shadow: 0px, 6px 50px rgba(red, green, blue, alpha);
border-radius: 5px;
padding: 30px;


}
.skill-title{
    font-weight: 700;
    font-size: 20px;
}
.skilll-description{
color: grey;

}
/* resume style */

.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: grey ;
    margin-bottom: 10px;
}

.resume .sub-title{
color: #474747;
font-weight: 600px;
font-size: 20px;
margin-bottom: 20px;
}

.resume .description{
color: #474747;
}
.resume-item{

    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-btn{

    margin-top: 50px;
    text-align: center;
}
/* contract style */
.contract{
display: flex;
gap :100px;
background-color: bisque;
padding: 130px 200px;
}

.contarct .section-title{
    text-align: left;
}
.contract input[type="text"], input[type="email"] textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left: 18px 30px;
}
input{
    height: 64px;
}
.contarct a{
    text-decoration: none;
}